/* Navbar starts here */
.navbar{
    background-color: #0046BE;
    width: 101%;
    margin-left: -7px;
}
/* Navbar first Div */
.navbar>div:first-child{
    display: grid;
    grid-template-columns: 10% 8% 30% 35% 15%;
    padding-top: 20px;
    gap :10px;
    margin-top:-10px;
    color: white;
    font-weight: bolder;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}
.navbar>div:first-child>div:nth-child(1)>a>img{
    width: 80px;
    height: 80px;
    margin-top: -25px;
}
.navbar>div:first-child>div:nth-child(2){
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    font-weight: bolder;
}
.navbar>div:first-child>div:nth-child(2)>p{
    margin-top: 10px;
}
.navbar>div:first-child>div:nth-child(3){
    display: grid;
    grid-template-columns: 90% 10%;
    width: 100%;
    height: 60%;
    margin-left: 10px;
}
.navbar>div:first-child>div:nth-child(3)>input{
    border-radius: 5px 0px 0px 5px;
    border: 0;
}
.navbar>div:first-child>div:nth-child(3)>button{
    border-radius: 0px 5px 5px 0px;
    border: 0;
}
.navbar>div:first-child>div:nth-child(3)>button>img{
    width: 20px;
    height: 20px;
}
.navbar>div:first-child>div:nth-child(4){
    display: grid;
    grid-template-columns: 90% 10%;
    padding-left: 250px;
    padding-right: 40px;
}
.navbar>div:first-child>div:nth-child(4)>img{
    width: 50px;
    height: 50px;
    display: grid;
    
}
.navbar>div:first-child>div:nth-child(5){
    display: grid;
    grid-template-columns: 30% 30%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar>div:first-child>div:nth-child(5)>img{
    width: 50px;
    height: 50px;
}
/* Navbar 2nd div */
.navbar>div:last-child{
    font-size: 12px;
    color: white;
    display: grid;
    grid-template-columns: 60% 40%;
}
.navbar>div:last-child>div>a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    margin-left: 10px;
}
.navbar>div:last-child>div:last-child{
    display: grid;
    grid-template-columns: 30% 30% 20% 20%;
    margin-right: 10px;

}
.navbar>div:last-child>div:last-child>div:nth-child(1){
    display: grid;
    grid-template-columns: 20% 30%;
    
}
.navbar>div:last-child>div:last-child>div>img{
    height: 20px;
    width: 20px;
}
.navbar>div:last-child>div:last-child>div>p{
    margin-top:2px;
}
/* This section contains dropdown of navbar*/
#account{
    cursor: pointer;
}
.accountList {
width: 250px;
height: 300px;
position: absolute;
right: 15%;
top: 26%;
display: none;
background-color: white;
font-size: 12px;
padding: 10px;
box-shadow: 0 0 5px rgb(0 0 0 / 35%);
overflow-y: scroll;
}
.accountList>div:nth-child(1)>p {
    width: 200px;
    margin-left: 30px;
    color: black;
    font-size: 10px;
}
.accountList>div:nth-child(1)>button:nth-child(2){
    width: 200px;
    margin-left: 30px;
    background-color: #0046BE;
    color: white;
    border: 0;
    border-radius: 5px;
    height: 20px;
}
.accountList>div:nth-child(1)>button:nth-child(3){
    width: 200px;
    margin-left: 30px;
    margin-top: 5px;
    color: white;
    border: 1px solid #0046BE;
    border-radius: 5px;
    color: blue;
    font-size: 10px;
    font-weight: bolder;
    height: 20px;
}
.accountList>div:nth-child(2), .accountList>div:nth-child(3), .accountList>div:nth-child(4){
    margin-top: 20px;
}
.accountList>div:nth-child(2)>p, .accountList>div:nth-child(3)>p, .accountList>div:nth-child(4)>p{
    color: #0046BE;
    cursor: pointer;
}
/* This section is for menu bar tripple line transformation */
.menuBar {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.0s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* This section contains dropdown of menu bar */
.menuBar{
    cursor: pointer;
}
.menuList {
width: 250px;
height: 300px;
position: absolute;
left: 7%;
top: 20%;
display: none;
background-color: white;
font-size: 12px;
padding: 10px;
box-shadow: 0 0 5px rgb(0 0 0 / 35%);
overflow-y: scroll;
z-index: 1;
}
.menuList>div:nth-child(1)>p {
    width: 200px;
    margin-left: 30px;
    color: black;
    font-size: 10px;
}
.menuList>div:nth-child(1)>button:nth-child(2){
    width: 200px;
    margin-left: 30px;
    background-color: #0046BE;
    color: white;
    border: 0;
    border-radius: 5px;
    height: 20px;
}
.menuList>div:nth-child(1)>button:nth-child(3){
    width: 200px;
    margin-left: 30px;
    margin-top: 5px;
    color: white;
    border: 1px solid #0046BE;
    border-radius: 5px;
    color: blue;
    font-size: 10px;
    height: 20px;
}
.menuList>div:nth-child(1), .menuList>div:nth-child(2){
    margin-top: 20px;
}
.menuList>div:nth-child(1)>p, .menuList>div:nth-child(2)>p{
    color: #0046BE;
    cursor: pointer;
}
.menuList>div:nth-child(2)>p:first-child{
    color: black;
}